<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">




<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>





   <div class="card mx-auto" style="width: 50rem;">
	<div class="card text-center">
  <h5 class="card-header">AI Type</h5>
  <div class="card-body">
    <h5 class="card-title">Please choose the type of AI software you are testing</h5>
    

     <div class="list-group">
  <a href = "ml.html" button type="button" class="list-group-item list-group-item-action"> Machine Learning </a>
  <a href = "nlp.html" button type="button" class="list-group-item list-group-item-action"> Natural Language Processing </a>
  <a href = "cv.html" button type="button" class="list-group-item list-group-item-action"> Computer Vision</a>
  <a href = "speech.html" button type="button" class="list-group-item list-group-item-action"> Speech</a>
  
  </div>

 <p></p>


    <a href="#" class="btn btn-primary"> Next</a>
  </div>
</div>
</div>



</body>
</html>